.CountDownTimer{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CountDownTimer__wrapper{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 540px;
}